# 1833. Maximum Ice Cream Bars - MEDIUM

In [ ]:
def maxIceCream(costs, coins):
    sortcost = sorted(costs)
    sumer = 0
    index = 0
    while coins >= 0:
        if index > len(costs)-1:
            return sumer
        elif sortcost[index] <= coins:
            coins = coins - sortcost[index]
            sumer += 1
        else:
            return sumer
        index += 1
    return sumer

# 2545. Sort the Students by Their Kth Score - MEDIUM

In [3]:
def sortTheStudents(score, k):
    dic = {}
    output = []
    for index, i in enumerate(score):
        dic[index] = i[k]
    dic = dict(sorted(dic.items(), key=lambda item:item[1], reverse=True))
    for index, (key, value) in enumerate(dic.items()):
        output.append(score[key])
    return output
sortTheStudents([[10,6,9,1],[7,5,11,2],[4,8,3,15]], 2)

[[7, 5, 11, 2], [10, 6, 9, 1], [4, 8, 3, 15]]

# 1637. Widest Vertical Area Between Two Points Containing No Points - MEDIUM

In [16]:
def maxWidthOfVerticalArea(points):
    slist = sorted([s[0] for s in points])
    maxelem = 0
    for i in range(len(slist)-2):
        maxelem = max(abs(slist[i+1] - slist[i]), maxelem)
    return maxelem

maxWidthOfVerticalArea([[8,7],[9,9],[7,4],[9,7]])

1

# 2707. Extra Characters in a String - MEDIUM

In [24]:
def canBeEqual(s1, s2):
    listofswap = []
    listofswap.append(s1[2]+s1[1]+s1[0]+s1[3])
    listofswap.append(s1[0]+s1[3]+s1[2]+s1[1])
    
    if s2[2]+s2[1]+s2[0]+s2[3] in listofswap:
        return True
    elif s2[0]+s2[3]+s2[2]+s2[1] in listofswap:
        return True
    return False
canBeEqual("abcd", "cdab")

True

# 53. Maximum Subarray - MEDIUM

In [ ]:
# Kandane algorithm

def maxSubArray(nums):
    b = nums[0]
    summer = 0
    for i in nums:
        summer += i
        b = max(b, summer)
        if summer < 0:
            summer = 0
    return b

# 152. Maximum Product Subarray - MEDIUM

In [53]:
def maxProduct(nums):
    negatives = False
    if max(nums) < 0:
        negatives = True
    maximum = nums[0]
    summer = 1
    for i in nums:
        print(summer)
        summer *= i
        maximum = max(maximum, summer)
        if i == 0:
            summer = 1
        if negatives and summer < 0:
            summer = 1
    return maximum

maxProduct([-2,3,-4])

1
-2
-6

24

# 228. Summary Ranges - EASY

In [65]:
def summaryRanges(nums):
    output = []
    current = ""
    for i in range(len(nums)-1):
        if nums[i] == (nums[i+1]-1) and current == "":
            current = str(nums[i])
        elif nums[i] != nums[i+1]-1 and current != "":
            output.append(current + "->"+str(nums[i]))
            current = ""
        elif nums[i] != nums[i+1]-1 and current == "":
            output.append(str(nums[i]))
        if i == len(nums)-2:
            if current == "":
                output.append(str(nums[i+1]))
            elif current != "" and nums[i] == (nums[i+1]-1):
                output.append(current + "->"+str(nums[i+1]))
    return output
        
summaryRanges([0,2,3,4,6,8,9])

['0', '2->4', '6', '8->9']

# 392. Is Subsequence - EASY

In [69]:
def isSubsequence(s, t):
    index2 = 0
    for i in t:
        if s[index2] == i:
            index2 += 1
        if index2 == len(s):
            return True
    return False

isSubsequence("ab", "baab")

True

# 1148. Article Views I - EASY

In [13]:
import pandas as pd

data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    v = views[views["author_id"] == views["viewer_id"]]
    return pd.DataFrame(v["author_id"].drop_duplicates().sort_values().values, columns=["id"])


article_views(views)

   id
0   4
1   7

In [27]:
import pandas as pd

data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    world = world[world["population"] > 25000000]
    world2 = world[world["area"] > 3000000] 
    return pd.concat([world, world2], ignore_index=True).drop(columns=["gdp", "continent"])

big_countries(world)

          name     area  population
0  Afghanistan   652230    25500100
1      Algeria  2381741    37100000

# 1683. Invalid Tweets - EASY

In [37]:
import pandas as pd

data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets["content"].str.len() > 15].drop(columns="content")

invalid_tweets(tweets)

   tweet_id
1         2

# 1667. Fix Names in a Table - EASY

In [55]:
import pandas as pd

data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users["name"] = users["name"].str.lower().str.capitalize()
    return users.sort_values(by="user_id")

fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob

# 1527. Patients With a Condition - EASY

In [62]:
import pandas as pd

data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''], [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201']]
patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    patients = patients[patients["conditions"].str.contains(r"(?:^|\s)DIAB1")]
    return patients
find_patients(patients)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

# 1907. Count Salary Categories - MEDIUM

In [67]:
import pandas as pd

data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low = len(accounts[accounts["income"] < 20000])
    mid = len(accounts[accounts["income"].between(20000, 50000)])
    high = len(accounts[accounts["income"] > 50000])
    df = pd.DataFrame([["Low Salary", low],["Average Salary", mid], ["High Salary", high]], columns=["category", "accounts_count"])
    return df

count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3